<scsimulator_config>
  <config 
    trip_file="../digital-rails-scenarios/peak_cet_0_0/trips.xml" 
    map_file="../digital-rails-scenarios/network.xml" 
    output_file="../digital-rails-scenarios/peak_cet_0_0/events.xml" 
    traffic_signals_file="../digital-rails-scenarios/peak_cet_0_0/signals.xml"
    simulation_time="86400"/>
</scsimulator_config>
