<scsimulator_config>
  <config 
    trip_file="../peak_dr-manual_1_18/trips.xml" 
    map_file="../peak_dr-manual_1_18/network.xml" 
    output_file="../peak_dr-manual_1_18/events.xml" 
    traffic_signals_file="../peak_dr-manual_1_18/signals.xml"
    simulation_time="86400"/>
</scsimulator_config>
