<scsimulator_config>
  <config 
    trip_file="../callibration_scenario/trips.xml" 
    map_file="../callibration_scenario/network.xml" 
    output_file="../callibration_scenario/events.xml" 
    traffic_signals_file="../callibration_scenario/signals.xml"
    simulation_time="86400"/>
</scsimulator_config>
